@import url();
* {
	/*border: 1px solid black;*/
}

body {
	font-family: 'Open Sans', sans-serif;
}

h3, .button {
	font: semibold;
}

h3 {
	color: #004fbd;
	font: 16px;
}

.overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10;
	opacity: 0;
	transition: opacity 150ms ease-in;
	pointer-events: none;
	overflow-y: scroll;
	max-height: 100%;
}

.overlay:target{
	opacity: 1;
	pointer-events: auto;
}

.modal {
	width: 400px;
	position: relative;
	padding: 40px;
	margin: 30px auto;
	background: #FFF;
}

.modal__header * {
	display: inline-block;
	margin: 20px 0;
	vertical-align: middle;
	text-align: center;
}


.modal, .button {
	border-radius: 3px;
}

.modal .close.button {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	background-color: #f7f7f7;
	color: #666;
	
}

.modal .close.button i {
	margin: 0;
}

.modal__body :checked + label {
	color: #666;
}

.modal__body :disabled + label {
	color: #999;
}

.button {
	font: 14px;
}

.action.button {
	height: 40px;
	line-height: 40px;
	padding: 0 13px;
	background: #01a42d;
	color: #FFF;
}

.modal__footer {
	margin: 20px 0;
	overflow: auto;
}

.modal__footer a {
	float: right;
}

li {
	width: 100%;
	font: 12px;
	color: #808080;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}

li * {
	margin: 0 10px;
}

li .drag-handle {
	float: right;
	font: 16px;
	color: #ccc;
}

a {
	display: inline-block;	
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label:before {
	font-family: 'Material Icons';
	content: '';
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	background: #eee;
	vertical-align: middle;
	margin: 0 10px 0 0;
}

input[type="checkbox"]:checked + label:before {
	content: 'check';
	color: #FFF;
	/*background-image: url('../assets/check.svg');
	background-color: #FFF; */
	background: #056bfa;
}

input[type="checkbox"]:disabled + label:before {
	border: none;
	background: #ccc;
	box-shadow: none;
}