<!DOCTYPE html>
<html ng-app="AutoSchedulerApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>RotaGeek</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/autoschedulerController.js"></script>
    <script src="js/app.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<a href="#autoscheduler" class="action button">Autoscheduler</a>

	<!-- Autoscheduler Modal -->
	<div class="overlay" id="autoscheduler">

		<div ng-controller="AutoschedulerController" class="autoscheduler modal">
			<div class="modal__header">
				<a href="#" title="close" class="close button">
					<i class="material-icons">close</i>
				</a>
				<h3>Automated Scheduler Priorities</h3>
			</div>

			<div class="modal__body">
				<ul class="list autoscheduler">
					<li ng-repeat="priority in list">
						<input class="checkbox list" ng-model="priority.isChecked" ng-Disabled="priority.isDisabled" type="checkbox" id="priority {{$index}}">
						<label for="priority {{$index}}">{{ priority.label }}</label>
						<i ng-if="priority.isSortable" class="material-icons drag-handle">drag_handle</i>
					</li>
				</ul>
			</div>

			<div class="modal__footer">
				<a href="#" class="action button">Run</a>
			</div>

		</div>
	</div>
</body>
</html>
